
<!-- start header -->
<header>
  <div class="logo">
    <img src="img/title.png">
  </div>
</header>
<!-- start progress bar -->
<div class="progress">
  <div class="progress-bar" ng-hide="data.todos.length == 0" role="progressbar" aria-valuemin="0" aria-valuemax="100" ng-style="{width : ( getPercentage() + '%' ) }";>
    {{completed}}%
  </div>
</div>
<!-- start add todo -->
<div class="add">
  <form>
      <button class="add-btn pull-left" type="submit" aria-label="Add ToDo" ng-click="addToDo()" ng-disabled="!new_todo">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      </button>
      <span>
      <input type="text" ng-model="new_todo" placeholder="Add a ToDo Here" maxlength="28" >
      </span>
  </form>
</div>
<!-- start todos -->
<ul>
	<li class="todo" ng-repeat="todo in data.todos">
    <!-- complete btn -->
    <div class="complete-btn pull-left" ng-style="{'background-color' : todo.complete ? '#73b95d' : '#b62f0f'}">
      <input id="'box'+{{$index}}" type="checkbox" ng-model="todo.complete" ng-click="toggleComplete(todo)">
      <label for="'box'+{{$index}}"></label>
    </div>
    <!-- show todo title -->
    <span class="todo-title">{{todo.title}}</span>
    <!-- delete btn -->
    <button type="button" class="delete-btn pull-right" aria-label="Left Align" ng-click="removeToDo(todo)">
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </button>
  </li>
</ul>